
@{
    ViewBag.Title = "TradeImport";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}



<div class="page-content" style="margin-top:115px;">
    <div class="container-fluid">
        <!-- Page-Title -->

        <div class="row">
            <div class="col-6" style="margin-left: auto;margin-right: auto;">
                <div class="card">
                    <div class="card-header" style="background-color:#fbd857;">
                        <h4 class="card-title">Trade Import</h4>
                    </div>
                    <!--end card-header-->
                    <div class="card-body">


                        @using (Html.BeginForm("TradeImportProcess", "Process", new { @method = "TradeFile" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="custom-file">

                                <label for="file-upload" class="custom-file-upload">Choose a file...</label>
                                <input id="file-upload" name="TradeFile" type="file" />
                                <input type="submit" value="Upload" class="btn btn-danger px-4" />
                            </div>

                        }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

