#processing_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    filter: alpha(opacity=75);
    opacity: .75;
    cursor: wait;
    z-index:99;
}

#processing_container {
    background: rgba(0,0,0,0.1); /*background-color:#F9ECB1;border:solid 2px orange;*/
    behavior: url(../Images/PIE.htc);
    border-radius: 10px;
}

#processing_title {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 1.75em;
    background-color: #690;
    color: #FFF;
    border-bottom: solid 1px #999;
    cursor: default;
    padding: 0;
    margin: 0;
}

#processing_content {
    background: rgba(0, 0, 0, 0) linear-gradient(#fff, #d8d2ce) repeat scroll 0 0;
    border: 1px solid #9e9e9e;
    border-radius: 5px;
    color: #000;
    font-size: 13px;
    font-weight: bold;
    height: 103px;
    margin: 3px;
    max-width: 250px;
    min-width: 189px;
    padding: 10px 2px;
    text-align: center;
    vertical-align: middle;
}
#processing_content .please_wait{
    margin-bottom:5px;
}
.page_loader {
    height: 50px;
    width: 50px;
    margin: 0;
}